<table>
  <tr>
    <th>
      name
    </th>
    <th>
      info
    </th>
    <th>
      version
    </th>
    <th>
      tools
    </th>
  </tr>
  <% @content_blocks.each do |content_block| %>
    <tr>
      <td style="background-color: #F1F1F1;">
        <%= content_block.name %>
      </td>
      <td>
        used in:<br /><%= content_block.connectors.map { |c| link_to c.page.name, c.page.path }.join(", ").html_safe %>
      </td>
      <td>
        <%= content_block.version %>
      </td>
      <td>
        <%= link_to "Edit", edit_content_block_path(content_block) %>
        <%= link_to "Delete", content_block_path(content_block), method: "DELETE" %>
      </td>
    </tr>
  <% end %>
</table>