<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <%= csrf_meta_tag %>
    <%= cms_head %>
    <%= yield :html_head %>
    <%= stylesheet_link_tag    "grantox/application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "grantox/application", "data-turbolinks-track" => true %>
  </head>
  <body>
    <div class="cms-bar">
      <%= render file: "grantox/cms/navigation.html.erb" %>
      <%= cms_toolbar %>
    </div>
    <%= render_menu %>
    <%= container(:main) %>
  </body>
</html>
