<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <%= csrf_meta_tag %>
    <%= cms_head %>
    <%= yield :html_head %>
    <script src="//cdnjs.cloudflare.com/ajax/libs/Sortable/1.2.0/Sortable.min.js"></script>
    <%= stylesheet_link_tag    "grantox/application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "grantox/application", "data-turbolinks-track" => true %>
    <style type="text/css" media="screen">
      body {
        background-color: black;
        color: #FFFFFF;
      }
    </style>
  </head>
  <body>
    <%= render file: "grantox/cms/navigation.html.erb" %>
    <%= cms_toolbar %>
    <%= render_menu %>
    <table style="width: 100%;">
      <tr>
        <td width="50%">
          <%= container(:main) %>
        </td>
        <td width="50%">
          <%= container(:sidebar) %>
        </td>
      </tr>
    </table>
    
  </body>
</html>
