<%= form_for @content_block, html: { class: "form-horizontal" } do |f| %>
  <%= render partial: @content_block.form_path, locals: { f: f } %>
  
  <% if @container.present? && @page_id.present? %>
    <%= hidden_field_tag :container, @container %>
    <%= hidden_field_tag :page_id, @page_id %>
  <% end %>
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit nil, class: "btn btn-default" %>
    </div>
  </div>
<% end %>