<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <%= csrf_meta_tag %>
    <title>Cosmerner</title>
    <%= yield :html_head %>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  </head>
  <body>
    <%= container(:main) %>
    <hr />
    <ul class="nodes">
      <% Node.roots.each do |node| %>
        <%= render node %>
      <% end %>
    </ul>
    <hr />
    visual edit mode:
    <% if session[:visual_edit] %>
      on
      <a href="/visual_edit_mode/?state=off">off</a>
    <% else %>
      <a href="/visual_edit_mode/?state=on">on</a>
      off
    <% end %>
  </body>
</html>
