<div class="cms-toolbar">
  <div class="cms-toolbar-visual-editor">
    <% if session[:visual_edit] %>
      on/<a href="/visual_edit_mode/?state=off">off</a>
    <% else %>
      <a href="/visual_edit_mode/?state=on">on</a>/off
    <% end %>
    Visual Editor
  </div>
  
  <div class="cms-toolbar-page-info">
    <%= @page.name %>
    <%= @page.title.present? ? "(#{@page.title})" : "" %>
    v<%= @page.version %>
  </div>
  
  <div class="cms-toolbar-page-actions">
    <%= link_to "Shrink", "#", id: "cms-toolbar-page-actions-shrink" %>
    <%= link_to "Preview", "?preview=true" %>
    <%= link_to "Publish", publish_page_path(@page), method: "post" %>
    <%= link_to "Edit", edit_page_path(@page) %>
  </div>
</div>