<h2>Create new</h2>

<ul>
  <% @connectables.each do |connectable| %>
    <li>
      <%= link_to connectable.display_name, send(:"new_#{connectable.path_name}_path", container: @container, page_id: @page_id) %>
    </li>
  <% end %>
</ul>

<h2>Add existing</h2>

<div>
  <div class="btn-group" role="group">
    <% Grantox::ContentBlock.installed_models.each do |model_name| %>
      <%= link_to model_name.display_name, new_connector_path(container: params[:container], page_id: params[:page_id], model_name: model_name), class: "btn btn-default #{model_name.to_s == params[:model_name] ? "active" : ""}" %>
    <% end %>
  </div>
</div>

<% if @content_blocks.present? %>
  <%= paginate @content_blocks, :theme => 'twitter-bootstrap-3' %>
  
  <table class="table table-striped table-bordered table-hover">
    <tr>
      <th>
        Add
      </th>
      <th>
        Name
      </th>
      <th>
        Version
      </th>
      <th>
        Usage
      </th>
      <th>
        Actions
      </th>
    </tr>
    <% @content_blocks.each do |content_block| %>
      <tr>
        <td>
          <%= link_to "Add", add_connectors_path(page_id: @page_id, container: @container, connectable_type: content_block.class, connectable_id: content_block.id), method: "POST", class: "btn btn-primary btn-xs" %>
        </td>
        <td>
          <%= link_to content_block.name || "No Name", edit_content_block_path(content_block) %>
        </td>
        <td>
          <%= content_block.version %>
        </td>
        <td>
          <%= content_block.connectors.map { |c| link_to c.page.name, c.page.path }.join(", ").html_safe %>
        </td>
        <td>
          <%= link_to "Edit", edit_content_block_path(content_block), class: "btn btn-default btn-xs" %>
          <%= link_to "Delete", content_block_path(content_block), method: "delete", class: "btn btn-danger btn-xs" %>
        </td>
      </tr>
    <% end %>
  </table>
  
  <%= paginate @content_blocks, :theme => 'twitter-bootstrap-3' %>
<% else %>
  <p>
    No content block found.
  </p>
<% end %>