<div class="form-group">
  <%= f.label :name, class: "control-label" %>
  <%= f.text_field :name, class: "form-control" %>
</div>

<hr />

<div class="form-group">
  <%= f.label :path, class: "control-label" %>
  <%= f.text_field :path, data: { path: @section.path }, class: "form-control" %>
</div>

<script type="text/javascript" charset="utf-8">
  $(function() {
    $("#section_name").on('input propertychange paste', function() {
      if($("#section_path").val().indexOf($("#section_path").data("path")) >= 0) {
        $("#section_path").val($("#section_path").data("path") + "/" + $("#section_name").val().toLowerCase())
      }
    });
  })
</script>

<%= hidden_field_tag :section_id, @section_id %>