<li class="node node-depth-<%= section.depth %> section">
  <span class="node-line section-line">
    <span class="node-name section-name">
      <%= section.name %>
      <small>
        Section
      </small>
    </span>
    <span class="node-options section-options">
      <%= link_to "+ Page", new_page_path(section_id: section.id) %>
      <%= link_to "+ Section", new_section_path(section_id: section.id) %>
      <%= link_to "Delete", section_path(section), method: :delete %>
    </span>
  </span>
  <% if section.children.present? %>
    <ul>
      <%= render section.children %>
    </ul>
  <% end %>
</li>